################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular2Demo
/Angular2Demo2/.vs/Angular2Demo2/v14
