@using CoffeeStore.WebUI.HtmlHelpers
@model  CoffeeStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "List Product from LocalDB";
}

<h2>List</h2>
@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List",new {Page =x}))
</div>