@model Razor.Models.Product

@{
    ViewBag.Title = "Name and Price";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameandPrice</h2>

This product name is @Model.Name and it costs $@Model.Price

